



<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/display.css">
</head>

<div class="container">
	<h1> Finger Annotations for {{ instrament }} </h1>
	<img class="img-responsive" src="/static/uploads/{{ overlayed_img }}" alt="overlayed image " > 
	<p>
		<ol>
		{% for note in note_names %}
			<li> 
				{{ note }}
			 </li>

		{% endfor %}
		</ol>
	</p>
</div>

<!-- <h2>Hard coded </h2> -->


<!-- <p>static/uploads/0e44f79a-2fc1-11ec-9608-8c85909d90f2.png</p>
<img src="/static/uploads/0e44f79a-2fc1-11ec-9608-8c85909d90f2.png" alt="overlayed image " width="500" height="600">  -->
