
<head>
<link rel="stylesheet" href="static/css/upload.css">

</head>

<h2>Music Notes</h2>
<p class="lead">Upload a image of your music stanza</p>

<!-- Upload  -->
<form id="file-upload-form" class="uploader" method=post enctype=multipart/form-data  >
  <input id="file-upload" type="file" name="file" accept="image/*" />
<!-- dropdown -->

  <label for="file-upload" id="file-drag">
    <img id="file-image" src="#" alt="Preview" class="hidden">
    <div id="start">
      <i class="fa fa-download" aria-hidden="true"></i>
      <div>Select a file or drag here</div>
      <div id="notimage" class="hidden">Please select an image</div>
      <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
    </div>
    <div id="response" class="hidden">
      <div id="messages"></div>
      <progress class="progress" id="file-progress" value="0">
        <span>0</span>%
      </progress>
    </div>
  </label>

  <label id="idropdown" for="instrament">Choose Instrament:</label>
  <select name="instrament" id="instrament">
    <option value="trumpet">Trumpet</option>
    <option value="trumbone">Trumbone</option>
    <option value="euphonium">Euphonium</option>
    <option value="french horn">French Horn</option>
  </select>

  <input type=submit value="Get Notes">
</form>
<script src="static/js/upload.js"></script>